@model MvcRazorViews.ViewModels.EstudanteViewModel

@{
    ViewData["Title"] = "Lista Estudantes";
}

<h1>@Model.Nome</h1>

<hr>
@if(Model.Ativo)
{
    <button>Iniciar Conversa</button>
    <button>Editar</button>
    <button>Desativar</button>
}else{
    <Button>Ativar</Button>
}
<hr>

<p>Id: @Model.Id</p>
<p>Nome: @Model.Nome</p>
<p>Endereco: @Model.Endereco</p>